/* Adding poppins fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

/* adding the main container */

.container {
  background-color: #fff;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-size: cover;
  padding: 8vw;
}

/* adding the humburger */

.menu-bar {
  width: 15px;
  height: 2px;
  background: #6070ff;
  margin: 6px 0;
}

/* logo */

.logo {
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.salutation {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
}

.developer {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.connect {
  color: #7f8cff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  border-radius: 0;
  padding: 1em;
}

ul {
  list-style-type: none;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

li {
  width: 40px;
  list-style: none;
  text-align: left;
}

.about-me {
  background-image: url(images/aboutMyself.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  border-top-right-radius: 80px;
  position: relative;
  background-size: cover;
  padding: 1em;
  padding-bottom: 90px;
}

.resume {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background: #fff;
}

.seperatorLine {
  width: 10px;
}

.lang, .lan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lan img {
  height: 6px;
  width: 12px;
}

.lang img {
  height: 12px;
  width: 6px;
}

.skill {
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  padding: 22vh 8vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 255);
  font-size: 30px;
  text-align: left;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.works1 {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.card img {
  width: 48px;
  height: 48px;
  padding: 20px;
  row-gap: 20px;
}

.flexf {
  display: grid;
  grid-template-columns: 7fr 1fr 11fr 1fr 3fr;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.flexf img {
  width: 8px;
  height: 8px;
}

.flexf p {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.canopy {
  color: #344563;
}

.back {
  color: #7a869a;
}

.btn1 {
  border-radius: 8px;
  background: #ebebff;
}
