/* Adding poppins fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

/* adding the main container */

.container {
  background-color: #fff;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-size: cover;
  padding: 8vw;
}

/* adding the humburger */

.menu-bar {
  width: 15px;
  height: 2px;
  background: #6070ff;
  margin: 6px 0;
}

/* logo */

.logo {
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  animation: rotateZ 5s;
}

/* Adding transisions and animations */

.logo {
  padding-top: 3em;
}
@keyframes rotateZ {
  to {
    transform: rotateZ(-360deg);
  }

}
.salutation {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
}

.developer {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin-top: 12px;
}

.connect {
  color: #7f8cff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  border-radius: 0;
  padding: 1em;
}

.social ul {
  list-style-type: none;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.buttons li {
  list-style: none;
  text-align: left;
  margin-right: 5%;
}

.resume {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background: #fff;
  color: #396df2;
}

.seperatorLine {
  width: 10px;
}

.btn1 {
  border-radius: 8px;
  background: #ebebff;
  color: #6070ff;
  height: 24px;
  border: none;
  padding: 4px 12px 4px 12px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  gap: 114px;
  padding: 8vw;
  background: #e5e5e5;
}

.card {
  display: flex;
  background-color: rgba(255, 255, 255, 255);
  font-size: 30px;
  text-align: left;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  padding: 5%;
  border-radius: 16px;
}

.works img {
  width: 100%;
}

.works1 ul {
  list-style-type: disc;
  display: flex;
}

.back {
  list-style: disc;
  text-align: left;
  font-size: 13px;
  padding-right: 10%;
}

.canopy {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  padding-right: 10%;
}

.buttons {
  list-style-type: none;
  display: flex;
}

button:hover {
  box-shadow: 0 8px 16px 0 #4053fc3d;
  background: #6070ff;
  color: white;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  background-color: #fff;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-repeat: no-repeat;
  border-top-right-radius: 80px;
  padding: 5%;
  padding-bottom: 90px;
}

.myself {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
}

.get-resume {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background: #fff;
  color: #396df2;
}

.skill-list {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.skill-list li {
  list-style: none;
}

.social ul li {
  width: 40px;
  list-style: none;
  text-align: left;
}

.skills-img1 {
  width: 12px;
  height: 6px;
}

.skills-img2 {
  width: 6px;
  height: 12px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  color: #344563;
}

.skills-languages {
  display: flex;
  flex-direction: column;
}

.add-skills {
  display: flex;
  flex-direction: row;
  height: 27%;
  margin: 5%;
  background: #f7f7f9;
  padding: 2%;
}

.in-text {
  align-self: center;
}

.add-skills img {
  width: 48px;
  height: 48px;
  padding-right: 20px;
}

/* contact form styling */

.contact-form {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 80px;
  background: #6070ff;
  align-items: center;
  width: 22vh 8vw;
  background-image: url(images/blue-background_720.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.contact-me {
  display: flex;
  margin-top: 103px;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  align-self: center;
}

.contact-form p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  margin-left: 5%;
  margin-right: 5%;
}

.contact-item {
  justify-content: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin: 2% 4%;
  border-radius: 8px;
}

.form input {
  /* height: 48px; */
  border: 1px solid #cfd8dc;
}

.form button {
  height: 48px;
  width: 38%;
  border: none;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.form input::placeholder {
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.form textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #b3bac5;
}

.home-shape {
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 30%;
}

.input-item {
  padding: 15px;
}

.form-button:hover {
  box-shadow: 0 8px 16px 0 #4053fc3d;
  background: #6070ff;
  color: white;
}

.form-button:active {
  background: #2230d2;
  color: #fff;
}

.form-button:disabled {
  color: #5e6c84;
  background-color: #fff;
}

.header-menu ul {
  display: none;
}

/* desktop version */

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    gap: 2%;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    gap: 2%;
  }

  .header-menu img {
    display: none;
  }

  .header-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .header-menu ul li {
    list-style: none;
  }

  .header-menu a {
    text-decoration: none;
    color: #344563;
  }

  .card img {
    height: 100%;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .skills {
    width: 100%;
  }

  .about-skill ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: #fff;
    margin-right: 50%;
  }

  .about-skill ul li {
    display: flex;
    flex-direction: column;
    background: #f7f7f9;
    width: 50%;
    margin-right: 10%;
  }

  .form-button {
    align-self: center;
    margin-bottom: 15%;
  }

  .skills-languages {
    display: flex;
    flex-direction: row;
    width: 29%;
  }

  /* about me section  styling */

  .container-item {
    margin-left: 18%;
    margin-right: 18%;
  }

  .first {
    margin-top: 20%;
  }

  .me {
    margin-top: 5%;
    width: 40%;
  }

  .myself {
    margin-top: 0;
  }

  .skill-list {
    width: 45%;
  }

  .add-skills {
    display: flex;
    flex-direction: column;
  }

  .in-text {
    align-self: self-start;
  }

  .skills-img1 {
    left: 12px;
    top: 12px;
    border-radius: 0;
    padding: 0;
  }

  /* .get-resume {
    font-size: 12px;
  } */

  /* contact me form styling */

  .items {
    margin-left: 22%;
    margin-right: 22%;
    align-items: center;
    justify-content: center;
  }

  .form-item {
    margin-left: 15%;
    margin-right: 15%;
  }

  .items h2 {
    justify-content: center;
    margin-left: 22%;
    margin-right: 22%;
  }

  .items p {
    height: 17%;
    margin-left: 0;
    margin-right: 0;
  }

  .home-shape {
    display: none;
  }

  .container {
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    background-image: url(images/background-content-desktop.png);
    background-size: 96% 98%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 80px;
    background: #6070ff;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: 90% 77%;
    margin-top: 0;
    text-align: center;
    padding: 2%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
